<div>
	<h2>New task creation</h2>
</div>

<div>
  <input type="text" [formControl]="todo" placeholder="Task Title">
</div>

<div>
	<input list="id-project" [formControl]="project" placeholder="Project Title">
	<datalist id="id-project">
	  <option *ngFor="let project of ProjectService.projects">{{project.title}}</option>
	</datalist>
</div>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="onSubmit()"  class="button-save">ОК</button>
</mat-dialog-actions>
